.button{
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 1rem;

  transition: all 0.3s ease-in-out;
  &.primary-button{
    background-color: rgb(204, 68, 68);
    color: white;
    cursor: pointer;
  }

  &:hover {
  transform: scale(1.05);
}
}